* {
    margin: 0;
    padding: 0;
}

#calculator {
    background-color: grey;
    padding: 20px;
    width: 400px;
    height: fit-content;
    margin: 100px auto;
    border-radius: 30px;
}

.display {
    background-color: blanchedalmond;
    text-align: end;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 30px;
    border-radius: 30px;
}

#top-display {
    margin-bottom: 10px;
}

#left-row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

#right-row {
    display: flex;
    flex-direction: column;
}

#equals {
    flex-grow: 1;
}

#buttons {
    display: flex;
}

button {
    width: 97px;
    height: 97px;
    font-size: 30px;
    flex-shrink: 0;
    border-radius: 100px;
}
